*{
    margin: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    line-height: 50px;
}
.section {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.one {
    background-image: url(img/az_photo.jpeg);   
}

.two {
    background-image: url(img/tuc_stars.jpg);
}

.three {
    background-image: url(img/tuc_golf.jpg);
}

.subsection {
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.subOne{
    background-color: lightblue;
}
.subTwo{
    background-color: red;
}
